body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas#game_canvas {
    width: 50%;
    height: 400px;
    margin-left: 25%;
    margin-top: 10%;
    box-shadow: 0px 0px 4px gray;
}
