@font-face {
    font-family: Kiwi;
    src: url("fonts/kiwi/kiwi.ttf");
}

body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Kiwi;
}

canvas#game_canvas {
    width: 60%;
    height: 500px;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: 0px 0px 4px gray;
}
